.line-cont {
  width: 80%;
  max-width: 60ch;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #2c2c2c;
}
.line {
  width: 100%;
  height: 8px;
  position: relative;
  display: block;
  background-color: #fffce1;
}

.panel {
  display: flex;
  flex-direction: column;
}

.flair {
  margin-top: 1rem;
}

nav a.active {
  color: var(--light);
}

section.panel {
  height: 90vh;
}

/* .box {
  margin: 200px;
  width: 100px;
  padding: 100px;
  height: 100px;
  background: #ff00ff;
  text-align: center;
  display: block;
  color: #ff00ff;
} */